*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    font-family: 'Pretendard';
}
*,*::before, *::after{
    box-sizing: border-box;
}
button, input, select, option, textarea{
    border: 0;
    background-color: rgba(0,0,0,0);
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: bottom;
    overflow: clip;
}
 @font-face {
          font-family: 'donut'; /* 폰트 이름 */
          src: url('./font/donutsCookies.woff2') format('woff2');
 }
